<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis3.mapper.AddressMapper">
	<!-- @@@@@@@@@@resultMap@@@@@@@@@@@@@@@@ -->
	<resultMap id="addressResultMap" 
				type="com.mybatis3.domain.Address" >
		<id column="addr_id" property="addrId"/>
		<result column="street" property="street"/>
		<result column="city" property="city"/>
		<result column="state" property="state"/>
		<result column="zip" property="zip"/>
		<result column="country" property="country"/>
	</resultMap>
	
	<select id="findAddressById" 
			resultType="com.mybatis3.domain.Address"
			parameterType="int">
		select addr_id as addrId,street,city,state,zip,country
		from addresses
		where addr_id=#{addrId}
	</select>
	<select id="findAddressByIdResultMap" 
			resultMap="addressResultMap"
			parameterType="int">
		select addr_id ,street,city,state,zip,country
		from addresses
		where addr_id=#{addrId}
	</select>
</mapper>